.aside-item
  %p
    Диаграмма связей реализуется в виде древовидной схемы, на которой изображены слова, идеи, задачи или другие понятия, связанные ветвями, отходящими от центрального понятия или идеи.
  %p
    В основе этой техники лежит принцип «радиантного мышления», относящийся к ассоциативным мыслительным процессам, отправной точкой или точкой приложения которых является центральный объект (радиант — точка небесной сферы, из которой как бы исходят видимые пути тел с одинаково направленными скоростями, например, метеоров одного потока). Это показывает бесконечное разнообразие возможных ассоциаций и следовательно, неисчерпаемость возможностей мозга.
