<button id='btn-toggle-hud' class="btn btn-inverse btn-mini" data-toggle="button">
	 <i class='icon-resize-small icon-white'></i>
</button>
<div class='hud' id='node-window'>
	<div id='node-hud'>
		<div class="input-prepend">
			<span class="add-on"><i class='icon-pencil'></i></span>
			<input id='node-title' class='span2' type="text"> </input>
		</div>
		<div class="input-prepend">
			<span class="add-on"><i class='icon-tint'></i></span>
			<input id='node-color' class='span2' type="text"> </input>	
		</div>
		<div class="input-prepend">
			<span class="add-on"><i class='icon-font'></i></span>
			<select class='span2' id='node-font'>			
			</select>		
		</div>
		<div class="input-prepend">
			<a id='node-link' href='#' target='_blank' class='btn btn-inverse btn-mini'>
				<i class='icon-white icon-magnet'></i> 
				Open node link
			</a>
		</div>
		<div class="btn-group " >
		  <button id='btn-bold' class="btn btn-inverse btn-mini" data-toggle="button">
		  	<i class='icon-bold icon-white'></i>
		  </button>
		  <button id='btn-italic' class="btn btn-inverse btn-mini" data-toggle="button">
		  	<i class='icon-italic icon-white'></i>
		  </button>
		  <button id='btn-lock' class="btn btn-inverse btn-mini" data-toggle="button">
		  	<i class='icon-white icon-move'></i>
		  </button>
		  <button id='btn-fold' class="btn btn-inverse btn-mini" data-toggle="button">
		  	<i class='icon-plus icon-white'></i>
		  </button>	
		  <button id='btn-remove' class="btn btn-danger btn-mini">
		  	<i class='icon-remove icon-white'></i>
		  </button>
		</div>

		<div class='hud-wiki'>
			<label>
				Wiki page
				<div id='hud-wiki-content'></div>
				<div class="btn-group">
					<button id='btn-hud-wiki-show' class='btn btn-success'>Show</button>
					<button id='btn-hud-wiki-edit' class='btn btn-primary'>Edit</button>
				</div>
			</label>
		</div>			
	</div>
	<div id='map-hud'>
		Background color
		<div class="input-prepend">			
			<span class="add-on"><i class='icon-tint'></i></span>
			<input id='map-background-color' class='span2' type="text"> </input>	
		</div>
		<div class="btn-group" >
		   <button id='btn-share' class="btn btn-inverse btn-mini" data-toggle="button">
		   	<i class='icon-white icon-eye-open'></i> Map is <span>public</span>
		   </button>
		  <button id='btn-fold' class="btn btn-inverse btn-mini" data-toggle="button">
		  	<i class='icon-plus icon-white'></i>
		  </button>	
		</div>
	</div>
	
</div>
