<% if browser.ie? %>
<div class="row" style='height:100px'>
	<div class="offset2 span8" >
		<h2>Sorry but... OpenMindMap doesn't work with Internet Explorer!</h2>
		<p><a href='http://www.google.com/chrome' target='_blank'>Please download and install Google Chrome by clicking here</a></p>
	</div>
</div>
<% end %>