%h1 Import Freemind Map
.hero-unit
  = form_tag(maps_import_path, :method => :post, :multipart => true) do
    = label_tag(:freemind_file, "Select Freemind file from your computer")
    = file_field_tag :freemind_file
    = submit_tag :Upload!
