- unless user_signed_in?
  = content_for :landing do
    .full-main-content
      = render partial: 'layouts/landing'
      .ribbon
        .wrapper
          = render 'shared/login_options'

.page-header
  = render 'list'
