- if @maps.empty?
  Ops! This is embarrassing... we don't have a public maps yet!
- else
  %ul.thumbnails
    - @maps.each do |map|
      %li
        .thumbnail{:style => "height:100px;"}
          %a{:href => map_path(map)}
            %img{:alt => "15", :height => "90", :src => "data:image/svg+xml;charset=utf-8;base64,#{ActiveSupport::Base64.encode64(map.svgdata.to_s)}", :width => "90"}/
  = link_to('Can\'t wait? Sing in for free and create a new map >>', new_map_path, :class => "btn btn-primary btn-large") unless user_signed_in?
