- if browser.ie?
  .row{:style => "height:100px"}
    .offset2.span8
      %h2 Sorry but... OpenMindMap doesn't work with Internet Explorer!
      %p
        %a{:href => "http://www.google.com/chrome", :target => "_blank"} Please download and install Google Chrome by clicking here
