@import "../layout/values";
@import "lists";
@import "search";
@import "dropdown";
@import "button";
@import "meter";
@import "modal";
@import "forms";
@import "loader";
@import "comment";
@import "input";
@import "input-btn";
@import "solution";
@import "pagination";
@import "tabs";
@import "file_upload";
@import "tag";
@import "rate";
@import "stick";

.r {
  float: right;
}

.l {
  float: left;
}

:focus {
  outline: none;
}