.full-descr {
  position: relative;
  line-height: $header-line-height - $header-margin*2;
  font-size: 12px;
  a {
    text-decoration: underline;
  }
  img {
    position: absolute;
    left: 0;
    top: 0;
    height: $header-line-height;
    width: $header-line-height;
  }
  padding-left: $header-line-height + $main-margin !important;
}

.full-body {
  background: white;
  border: $base-border;
  .manage-item {
    margin: $main-margin $main-padding 0;
    line-height: 1;
    color: $sub-gray;
    a{
      color: $black;
    }
    .btn-link{
      margin-right: $main-padding;
    }
  }
  .content {
    padding: $main-padding;

    .title {
      font-weight: normal;
      margin-bottom: $main-margin;
      &:before, &:after{
        position: absolute;
        left:100%;
        margin-left: -$border-width;
        content: ' ';
      }

      &:before{
        margin-top: -$border-width;
        @include triangle($main-padding, $border-color, right);
      }
      &:after{
        @include triangle($main-padding - 2*$border-width, white, right);
      }
    }
    p {
      margin: $main-margin 0 0;
    }
  }

}
.full-main-content{
  @include clearfix;
  position: relative;
}

.full-show-body {
  padding: 0 !important;
  background: none !important;
  margin: 0 !important;
  position: relative;
}

.sub-question {
  .title {
    font-weight: normal;
    .btn-hide {
      color: #aac8eb;
      text-decoration: underline;
      &:hover {
        color: #2f7994;
      }
      i {
        padding-left: 4px;
        text-decoration: none;
      }
    }
  }
}